@import url('https://fonts.googleapis.com/css?family=Inter');

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
    monospace;
}

/* 
	@name desktop___1 */

/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Inter"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }



#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 2023px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_desktop___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 2023px;
}

#_bg__desktop___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 2023px;
	background:rgba(255,255,255,1);
}


#header_rectangle {
	top: -42px;
	left: 0px;
	width: 1440px;
	height: 8em;
	background:rgba(0,0,0,1);
}


#summary_rectangle {
	top: 12.375em;
	left: 160px;
	width: 70em;
	height: 288px;
	border: 4px solid #000000;
	background:rgba(255,255,255,1);
}


#state_city_box {
	top: 560px;
	left: 160px;
	width: 1120px;
	height: 272px;
	border: 5px solid #000000;
	background:rgba(255,255,255,1);
}
#all-data{
	align-content: center;
	text-align: center;
	background-color: #ff3c3c;
}
.cityInput{
	margin: auto;
	padding: 10%;
	width: 900px;
	height: 700px;
	align-content: center;
	text-align: center;
}
#menu{
	top: -11px;
	left: 119px;
	margin: auto;
	padding: 10%;
	width: 600px;
	height: 50px;
	align-content: center;
	text-align: center;
}

#table{
	top: 300px;
	left: -10px;
}
#table p{
	color: red;
	font-size: 20px;
	text-align: right;
}
#skate_table{
	top: 300px;
	left: 790px;
}

#skate_table p{
	color: red;
	font-size: 20px;
	text-align: right;
}

#sat {
	top: 19px;
	left: 70px;
	width: 135px;
	height: 77px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: left;
	color:#FFFFFF;
}

#pie_chart{
	top: 610px;
	left: 808px;
	/* background-color: #ff3c3c; */
	width: 300px;
	height: 250px;
}

#welcome_to_the_skatepark_advocate_toolkit__ {
	top: 80px;
	left: 170px;
	width: 1100px;
	height: 95px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	font-weight: bolder;
	text-align: center;
	color:#000000;
}


#this_website_will_provide_you_with_data_most_needed_to_begin_your_skatepark_building_journey_ {
	top: 210px;
	left: 250px;
	width: 951px;
	height: 215px;
	overflow: hidden;
	font-family: Inter;
	font-size: 29px;
	text-align: center;
	color:#000000;
}


#select_the_state_and_city_to_view_data {
	top: 578px;
	left: 221px;
	width: 951px;
	height: 78px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: center;
	color:#000000;
}

#census-info {
	top: 1350px;
	left: 221px;
	width: 951px;
	height: 450px;
	overflow: hidden;
	font-family: 'Inter';
	font-size: 32px;
	text-align: center;
	color:#000000;
}

#census-info h1 {

	font-family: 'Inter';
	font-size: 40px;
	text-align: center;
	color:#000000;
}
#census-info p {

	font-family: 'Inter';
	font-size: 25px;
	text-align: center;
	color:#000000;
}

#skater_estimates{
    font-size: 40px;
}

#rectangle_2 {
	top: 1950px;
	left: 0px;
	width: 1440px;
	height: 73px;
	background:rgba(9.56,9.56,9.56,1);
}

#rectangle_2 footer {
	color: white;
	text-align: center;
}



/* Add your custom CSS here */
