@import url("https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
	@name desktop___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 2023px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


#page_desktop___1_ek1 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 2023px;
}

#_bg__desktop___1_ek2 {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 2023px;
	background:rgba(255,255,255,1);
}


#header_rectangle {
	top: -42px;
	left: 0px;
	width: 1440px;
	height: 122px;
	background:rgba(0,0,0,1);
}


#summary_rectangle {
	top: 198px;
	left: 160px;
	width: 1120px;
	height: 288px;
	border: 4px solid #000000;
	background:rgba(255,255,255,1);
}


#state_city_box {
	top: 560px;
	left: 160px;
	width: 1120px;
	height: 272px;
	border: 5px solid #000000;
	background:rgba(255,255,255,1);
}
.cityInput{
	margin: auto;
	padding: 10%;
	width: 150px;
	height: 130px;
	align-content: center;
	text-align: center;
}


#table_section {
	top: 800px;
	left: 250px;
	width: 1000px;
	height: 656px;
}
.table{
	top: 1px;
	margin: auto;
	padding: 10%;
	width: 850px;
	height: 656px;
	align-content: center;
	text-align: center;
	/* background-color: #fdf7f7; */
}

#sat {
	top: 19px;
	left: 70px;
	width: 135px;
	height: 77px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: left;
	color:#FFFFFF;
}


#welcome_to_the_skatepark_advocate_toolkit__ {
	top: 235px;
	left: 250px;
	width: 951px;
	height: 75px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color:#000000;
}


#this_website_will_provide_you_with_data_most_needed_to_begin_your_skatepark_building_journey_ {
	top: 303px;
	left: 250px;
	width: 951px;
	height: 186px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: center;
	color:#000000;
}


#select_the_state_and_city_to_view_data {
	top: 578px;
	left: 221px;
	width: 951px;
	height: 78px;
	overflow: hidden;
	font-family: Inter;
	font-size: 32px;
	text-align: center;
	color:#000000;
}


#rectangle_2 {
	top: 1950px;
	left: 0px;
	width: 1440px;
	height: 73px;
	background:rgba(9.56,9.56,9.56,1);
}



/* Add your custom CSS here */
